body{
    margin: 5%;
    font-family: 'Helvetica', Times, sans-serif;
    font-size: large;
    color:#ffffff;
    background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 500px) {
    body {
      background-color: black;
    }
    h1{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: x-large;
    text-align:center;
    line-height: normal;
    border: 1px solid black;
    }
    h2{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: large;
    text-align:center;
    line-height: normal;
    border: 1px solid black;
    }
     image, picture, video {
     width: 80%;
     height: 80%;
        }
}
nav {
    box-sizing: border-box;
    background-color: #000000;
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    display: inline;
    justify-content: center;
}
nav > ul > li {
    display: flex inline;
    padding: 10px;
}
/* idk why but without this nav below recipes clicks weird on live - maybe */
nav {
    display: inline;
    justify-content: center;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: white
  }
    .skip:focus {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        height: auto;
        overflow: auto;
        color: white
    }

/* Grid View Homepage / Index */
.Pet-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    grid-gap: 10px;
}
.Headerh1 {
    grid-column: 1 / -1;
    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 60px;
    font-family: Impact;
}
.Headerh2 {
    grid-column: 1 / -1;
    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-size: 40px;
    font-family: 'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
}
.Headerh3 {
    grid-column: 1 / -1;
    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.image {
    grid-column: 1 / -1;
    display: grid;
    padding: 20px;
    border: #ffffff;
}
.list {
    grid-column: 1 / -1;
    display: grid;
    text-align: left;
    list-style-type: decimal;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.paragraphs{
    grid-column: 1 / -1;
}
.Recipe-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    grid-gap: 10px;
}
.RecipeHeaderh1 {
    grid-column: 1 / -1;
    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-size: 60px;
    font-family: Impact;
}
.RecipeHeaderh2 {
    grid-column: 1 / -1;
    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-size: 40px;
    font-family: 'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
}
.recipe-paragraphs{
    grid-column: 1 / -1;
}
.RecipeHeaderh3 {
    grid-column: 1 / -1;
    display: grid;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.RecipeHeaderh.S {
    grid-column: 1 / -1;
    display: grid;
    text-align: left;
    color: #ffffff;
    padding: 5px 5px 12px 5px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.recipe-list {
    grid-column: 1 / -1;
    display: grid;
    text-align: left;
    color: #ffffff;
    list-style-type: decimal;
    padding: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.recipe-list-ingredients {
    grid-column: 1 / -1;
    display: grid;
    text-align: left;
    color: #ffffff;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif
}
.active {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

